html { 
  box-sizing: border-box;
}

body {

  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url("https://preview.pixlr.com/images/800wm/100/1/1001369467.jpg");


}

.weather-card{
    width: 40%;
    height: 200px;
    border-radius: 10px;
    background-color: tomato;
    margin-bottom: 10%;

    border:1px solid rgba(0,0,0,0.5);
    border-radius:10px 10px 2px 2px;
    -webkit-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    background:rgba(240, 240, 240, 0.25);

    display: flex;
    justify-content: space-between;
}

.weather-cards{
    width: 100%;
    height: 100%;
    

    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-flow: wrap;
}

.status, .temp, .time, .city{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side{
  width: 200px;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.status{
  width: 100%;
  height: 70px;
  /* background-color: turquoise; */
  border-radius: 10px;
  font-size: 20px;
  align-items: space-around;
  padding: 10px 0 ; 
  
}
.temp{
  width: 100%;
  height: 130px;
  /* background-color: gold; */
  border-radius: 10px;
  font-size: 56px;
  font-weight: bold;

  
    border-radius:10px 10px 2px 2px;
    -webkit-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    background:rgba(255, 0, 0, 0.25);


}

.right-side{
  width: 200px;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.time{
  width: 100%;
  height: 50px;
  /* background-color: thistle; */
  margin: 0;
  border-radius: 10px;

  border-radius:10px 10px 2px 2px;
    -webkit-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    box-shadow:
      0 2px 6px rgba(0,0,0,0.5),
      inset 0 1px rgba(255,255,255,0.3),
      inset 0 10px rgba(255,255,255,0.2),
      inset 0 10px 20px rgba(255,255,255,0.25),
      inset 0 -15px 30px rgba(0,0,0,0.3);
    background:rgba(187, 255, 0, 0.25);

}

.city{
  width: 100%;
  height: 50px;
  /* background-color: brown; */
  font-size: 25px;
  border-radius: 10px;
}

.weather-icon img{
  width: 150px;
  height: 150px;
  /* background-color: violet; */
  margin-top: 20%;
  border-radius: 10px;
}